<mat-toolbar color="primary">
  <h1 data-testid="app-title">Time Zone Tracker</h1>
  <span class="spacer"></span>
  <timezone-selector [availableTimezones]="timezonesList"
                     (selectedTimezone)="onSelectedTimezone($event)">
  </timezone-selector>
</mat-toolbar>
<button class="refresh-time" mat-button color="accent" (click)="onRefreshButton()">Refresh Time</button>
<mat-list>
  <app-timezone [timezone]="timezoneName" [refresh$]="refreshTime$" *ngFor="let timezoneName of selectedTimezones"></app-timezone>
</mat-list>

<div class="error-message">{{error}}</div>
