<mat-form-field>
  <mat-label>Select timezone</mat-label>
  <input type="text"
         placeholder="type location"
         aria-label="String"
         matInput
         [formControl]="myControl"
         [matAutocomplete]="auto"
         data-testid = "timezone-input">
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectionChange($event)">
    <mat-option *ngFor="let timezone of filteredTimezones | async" [value]="timezone">
      {{timezone}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
